body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: $background-color;
  color: $text-color;
}

.header {
  // background-image: url("../img/alex_header.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
}
