.about {
  background-color: red;
  padding: 10px;
  margin: 0 90px;
}

.events {
  @include border-style(dotted);
  @include border-color(yellow);
  @include border-width(1px);
  padding: 10px;
  margin: 0 90px;
}
