// @mixin border($size, $type, $color) {
//   border: $size $type $color;
// }

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//custom mixin
@mixin grey-tint {
   img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}


// NOT WORKING
// @mixin hide-background {
//   @media screen and (max-width: 600px) {
//     .header {
//       visibility: hidden;
//     }
//   }
// }
